.main {
    width: 50%;
    min-width: 500px;
    margin:-200px auto 0 auto;
    
}

.linesWrapper {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: white;
}

.logo {
    color: white;
    font-size: 45px;
    text-align: left;
    font-family: 'Wix Madefor Display', sans-serif;
    letter-spacing: 7px;
}

.inputTask {
    box-sizing: border-box;
    margin-top:20px ;
    margin-bottom:20px ;
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 13px;

}