.main {
    width: 50%;
    min-width: 500px;
    margin:-200px auto 0 auto;
    
}

.linesWrapper {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: white;
}

.logo {
    color: white;
    font-size: 45px;
    text-align: left;
    font-family: 'Wix Madefor Display', sans-serif;
    letter-spacing: 7px;
}
